@font-face {
    font-family: "GHEA Grapalat Reg";
    src: url(/fonts/GHEAGrapalatReg.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GHEA Grapalat Bold";
    src: url(/fonts/GHEAGrapalatBold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
