.footer {
    background-color: var(--mainblue);
    color: var(--white);
    .footer-logo{
        width: 20%;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.25rem;
    }
    h5{
        font-size: .8rem;
        margin-bottom: .25rem;
    }
    p{
        margin-bottom: .25rem;
        &.copyright{
            font-size: .75rem;
        }
    }
    .list-inline{
        li{
            margin-right: .5rem;
            margin-left: .5rem;
            a{
                transition: all .5s ease;
                svg{
                    height: 2rem;
                    width: 2rem;
                }
                &:hover svg{
                    transform: scale(0.9);
                }
            }
        }
    }

}
@media screen and (max-width: $screenXL) {
    .footer{
        .footer-logo{
            width: 25%;
        }
        h3{
            font-size: 1.5rem;
        }
        h4{
            font-size: 1.1rem;
        }
    }
}
